{% extends "base.html" %}

{% block title %}SyncUp{% endblock %}

{% block content %}
    <h4>Welcome to SyncUp!</h4>
    <p>SyncUp is a backup and restore solution for your any kinds of files.</p>

    <!-- BLOCKQUOTE -->
    <blockquote class="blockquote-reverse">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <footer>Quote by <cite title="Jogn Doe">John Doe</cite></footer>
    </blockquote>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <p><mark>Lorem ipsum dolor sit amet</mark>, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco <del>laboris nisi ut aliquip ex ea commodo</del> consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    dolore eu fugiat nulla pariatur. <u>Excepteur sint occaecat</u> cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

{% endblock %}
